bin/
**/obj/Debug/

**/bin/
**/obj/

appsettings.Development.json
appsettings.Production.json
*.sqlite-shm
*.sqlite-wal

.vs/
*.suo
*.user
*.sln.docstates

.idea/
*.DotSettings.user

*.log
*.tlog

.DS_Store
