/* CreateAccount.css */

/* Card Styling */
.create-account-card {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  padding: 3rem;
  width: 100%;
  max-width: 800px;
  margin: auto;
  color: black;
  height: 80vh;
}

.create-account-heading {
  font-size: 3rem;
  font-weight: 600;
  color: #333;
  text-align: center; /* Center the title text */
  margin-bottom: 40px;
}

/* Card Body */
.create-account-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70vh;
  overflow-y: auto;
}

/* Form Fields */
.create-account-body .form-floating input {
  margin-top: 20px;
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 500px;
}

/* Buttons */
.btn-login {
  background-color: #007bff;
  border: none;
  padding: 0.75rem;
  border-radius: 10px;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  transition: background 0.3s ease;
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-login:hover {
  background-color: #0056b3;
}

/* Go to Login Button (Styled as Gray) */
.btn-go-login {
  background-color: rgb(175, 174, 174);
  color: white;
  border-radius: 10px;
  padding: 0.75rem;
  font-weight: 500;
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto; /* Center the button */
}

.btn-go-login:hover {
  background-color: rgb(99, 98, 98);
}

/* Error */
.error {
  color: #d9534f;
  font-weight: 600;
  text-align: center;
  margin-top: 15px;
}
